<fieldset>
  <label for="src" class="form-label">Image src</label>
  <input type="text" class="form-control {{setErrorClass errors (concat "components." @index ".componentIntl.0.src")}}" id="src" name="src" value="{{component.componentIntl.0.src}}" />

  {{#each (getFieldErrors errors (concat "components." @index ".componentIntl.0.src"))}}
    <div class="invalid-feedback">{{ this }}</div>
  {{/each}}
</fieldset>