<fieldset>
  <label for="link" class="form-label">Link</label>
  <input class="form-control {{setErrorClass errors (concat "components." @index ".componentIntl.0.link")}}" id="link" name="link" value="{{component.componentIntl.0.link}}"/>

  {{#each (getFieldErrors errors (concat "components." @index ".componentIntl.0.link"))}}
    <div class="invalid-feedback">{{ this }}</div>
  {{/each}}
</fieldset>