<fieldset>
  <label for="description" class="form-label">Quote</label>
  <textarea class="form-control {{setErrorClass errors (concat "components." @index ".componentIntl.0.data")}}" id="data" name="data">{{component.componentIntl.0.data}}</textarea>

  {{#each (getFieldErrors errors (concat "components." @index ".componentIntl.0.data"))}}
    <div class="invalid-feedback">{{ this }}</div>
  {{/each}}
</fieldset>